* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.community-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-community-posts {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.posts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.post-item {
  width: 100%;
  max-width: 600px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}

.comment-item p {
  margin: 5px 0;
}

.comment-item strong {
  font-weight: bold;
  margin-right: 5px;
}


.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto !important;
}

.card:hover {
  transform: scale(1.05);
}

.post-header {
  width: 100%;
  text-align: left;
  display: flex;  /* Flexbox 사용 */
  justify-content: space-between;  /* 양쪽 끝에 배치 */
  align-items: center;  /* 수직 가운데 정렬 */
}

.post-header h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.delete-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.delete-button:hover {
  transform: scale(1.2) rotate(20deg);
  color: darkred;
}

.post-body {
  padding-left: 20px;
  margin-top: 20px;
  width: 100%;
}

.post-body.with-image img {
  width: 35%;
  height: auto;
  margin-top: 10px;
}

.post-body.without-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-footer {
  margin-top: 20px;
  width: 100%;
}

.post-stats {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
  width: 100%;
}

.post-stats span {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.post-stats span svg {
  margin-right: 5px;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.post-actions button, .post-actions a {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: none;
  background: #fff !important;
  color: black !important;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.post-actions button:hover, .post-actions a:hover {
  background: #f0f0f0 !important; 
}

.post-actions button svg, .post-actions a svg {
  margin-right: 5px;
}

/* 모달 스타일 추가 */
.modal {
  background: white;
  padding: 20px;
  max-width: 80%;
  min-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.modal-header h3 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  padding: 20px 0;
}

.create-post-title,
.create-post-content,
.create-post-image {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.create-post-title {
  font-size: 1.2rem;
}

.create-post-content {
  height: 150px;
  resize: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.create-post-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-buttons button {
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.modal-buttons button:hover {
  background: #0056b3;
}

.post-detail .comments-section, .modal .comments-section {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.post-detail .comments-list, .modal .comments-list {
  margin-bottom: 20px;
  max-height: 150px; /* 최대 높이를 설정 */
  overflow-y: auto; /* 스크롤 가능하게 설정 */
}

.post-detail .comment-item, .modal .comment-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* 스크롤바 숨기기 */
.post-detail .comments-list::-webkit-scrollbar, .modal .comments-list::-webkit-scrollbar {
  display: none;
}

.post-detail .comments-list, .modal .comments-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-and-create {
  display: flex;
  align-items: center;
  justify-content: center; /* 중앙 정렬 */
  width: 100%;
  max-width: 800px; /* 적절한 최대 너비 설정 */
  margin-bottom: 20px;
  margin-left: 7em;
}

.search-community-posts {
  flex-grow: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.create-post-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2em;
  color: #333;
  padding-bottom: 0.7em;
  margin-left: 1em;
}

.create-post-button:hover {
  color: #000;
}

.heart-animation {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  color: red;
  animation: float 1s ease-in-out;
}

.unlike-heart-animation {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 50px;
  color: blue;
  animation: drop 1s ease-in-out;
}

@keyframes float {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 10px;
}

.character-count {
  text-align: right;
  font-size: 0.9em;
  color: gray;
  margin-top: 5px;
}
