/* Plan.jsx */
body{
  -webkit-user-select: none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

/* Map.jsx */
.sidebar{
  position:relative;
  width: 30%;
  min-width: 250px;
  max-width: 350px;
  border-top: 2px solid #dedede;
  border-right: 2px solid #dedede;
  position: absolute;
  height:83.1%;
  flex: 1; /*맵보다 우선순위 높게*/
}

.sidebar > .loc{
  background: #fff;
  height: 7%;
  padding-left: 5%;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.sidebar > .search{
  text-align: center;
  height: 7%
}

.sidebar > .search > #name{
  border: 0;
  background: #eee;
  font-size: 10px;
  padding: 0px 10px;
  font-weight: 700;
  color: rgba(0,0,0,0.5);
  border-radius: 10px;
  width: 80%;
  height: 28px;
}

.sidebar > .search > #name:focus{
  border:0;
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #ccc;
}

.sidebar > .button{
  display: flex;
  button{
    background: #fff;
    border:2px solid #fff;
    width: 50%;
    height: 30px;
    text-align: center;
    cursor: pointer;
  }
  div:hover{
    border-bottom:2px solid #00C0FF;
  }
  a{
    text-decoration: none;
    color: #000;
  }
  .click{
    color: #00C0FF;
    border-bottom: 2px solid #00C0FF;
  }
}


.slidebar{
  position:absolute;
  display: none;
  padding: 0.5em;
  height: 43em;
  top:0%;
  left:100%;
  border-right: 2px solid #dedede;
}

.toggle-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:50%;
  left:100%;
  border: 2px solid #dedede;
  cursor: pointer;
  width: 15px;
  height: 40px;
  border-radius: 0px 0px 0px 0px;
}

.click{
  color: #00C0FF;
}

.open{
  display:block;
  width: 100%;
  height: 100%;
}

/*Slidebar*/
.slidebar_ > div:nth-child(1){
  font-size: 24px;
}

.slidebar_ > div:nth-child(3){
  height: 40px;
  position:absolute;
  bottom: 0;
  width: 100%;

  button{
    display:flex;
    width: 50%;
    height: 40px;
    background: #00C0FF;
    color: #fff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    left:25%;
  }
}

.draggable{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.num{
  display: flex;
  position:relative;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.draggable > .info{
  position: relative;
  border:2px solid #dedede;
  border-radius: 10px;
  font-weight: 700;
  width: 200px;
  height: 60px;
  font-size: 13px;
}

.draggable > .num::before{
  content: '';
  position: absolute;
  top:51px;
  border-right: 3px dotted #000;
  height:80px;
  width:0;
}

.draggable:last-child > .num::before{
  display: none;
}

.num::after{
  content: '';
  position: absolute;
  top: 30px;
  border: 2px solid #00C0FF;
  border-radius: 100%;
  height: 20px;
  width: 20px;
}

#init{
  color: #f00;
  font-size: 12px;
  margin: 1.2em;
}

.slidebar_ > div:nth-child(2){
  width: 100%;
  height: 100%;
  max-height: 595px;
  overflow-y: auto;
}

.slidebar_ > div:nth-child(2) > .container_{
  border: 2px solid #dedede;
  border-radius: 2em;
  min-height: 200px;
  margin-top: 1em;
  margin-left: 10%;
  padding: 1em;
  width: 80%;
}

.draggable > .info > .time{
  font-size: 18px;
  display: flex;
  position: absolute;
  left:0;
  bottom:0;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  input{
    border: 2px solid #000;
    border-radius: 5px;
    width: 70px;
    height: 20px;
    font-size: 8.2px;
  }
}

.slidebar_ > div:nth-child(2) > .container_ > .draggable > div{
  height: 82px;
}

.map{
  position: absolute;
  width: 790px;
  right:0;
  flex: 3;
}

.plan-container {
  display: flex;
}
