/* SelectTime.css */
.selectTimeElement {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selectTimeElement label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.selectTimeElement input[type="number"],
.selectTimeElement .date-picker {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #dedede;
  border-radius: 4px;
  font-size: 14px;
}

.selectTimeElement button {
  background: #00C0FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.selectTimeElement button:hover {
  background: #009ac8;
}

.selectTimeElement button:active {
  background: #007a9e;
  transform: scale(0.98); /* 버튼이 눌렸을 때 살짝 작아지는 효과 */
}

.selectTimeElement p {
  height: 7px;
}

.selectTimeElement .fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.selectTimeElement h3 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.selectTimeElement table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.selectTimeElement th,
.selectTimeElement td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.selectTimeElement th {
  background-color: #f2f2f2;
  font-weight: 700;
}

.selectTimeElement td input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* React Datepicker Custom Styles */
.react-datepicker {
  font-family: Arial, sans-serif;
  border: 1px solid #dedede;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #00C0FF;
  color: #fff;
  border-bottom: 1px solid #dedede;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-weight: bold;
}

.react-datepicker__day,
.react-datepicker__day-name {
  width: 2.5rem;
  line-height: 2.5rem;
  margin: 0.2rem;
  font-weight: bold;
}

.react-datepicker__day:hover {
  background-color: #f0f0f0;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #00C0FF;
  color: #fff;
  border-radius: 50%;
}

.react-datepicker__day--today {
  border-bottom: 2px solid #00C0FF;
}

.react-datepicker__navigation {
  background: none;
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  padding: 0;
  z-index: 1;
}

.react-datepicker__navigation--previous {
  left: 10px;
}

.react-datepicker__navigation--next {
  right: 10px;
}

.react-datepicker__navigation-icon::before {
  border-color: #fff;
}
