.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cards {
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.card {
  height: 40em;
  width: 80em;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff; /* 배경 색상 추가 */
  border-radius: 8px; /* 둥근 모서리 추가 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 추가 */
}

.card-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px; /* 이미지 둥근 모서리 추가 */
  padding-right: 30px; /* 오른쪽 패딩 추가 */
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px; /* 추가된 패딩 */
  }
  .card-image img {
    width: 100%;
    max-height: 200px;
    margin-right: 0;
    padding-right: 0;
  }
  .navigation {
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px; /* 추가된 마진 */
  }
}

.card-info h3 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.card-info p {
  color: gray;
}

.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 4em;
  color: #333;
  z-index: 3;
}

@media (max-width: 768px) {
  .nav-btn {
    font-size: 2em;
  }
  .navigation {
    top: 40%;
  }
}

.icon-wrapper:hover {
  color: #000100;
}