.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.card {
  height: 40em;
  width: 100em;
  display: flex;
  align-items: center;
  padding: 20px;
}

.card-image img {
  max-width: 100%; /* 이미지의 최대 너비를 부모 요소의 100%로 제한 */
  height: auto; /* 이미지의 높이를 자동으로 조정하여 비율을 유지 */
  object-fit: cover; /* 비율을 유지하면서 요소의 박스에 맞춤 */
  margin-right: 200px;
  padding-right: 4em;
}

@media (max-width: 768px) { /* 화면 너비가 768px 이하일 때 */
  .card {
    flex-direction: column; /* 카드 내용을 세로로 쌓음 */
    width: auto; /* 카드 너비를 자동으로 조정 */
    height: auto; /* 카드 높이를 자동으로 조정 */
  }
  .card-image img {
    width: 100%; /* 이미지 너비를 부모 요소의 100%로 설정 */
    max-height: 200px; /* 이미지의 최대 높이를 200px로 제한 */
    margin-right: 0;
    padding-right: 0;
  }
  .navigation {
    position: static; /* 네비게이션을 절대 위치에서 정적 위치로 변경 */
    transform: none; /* 변환 제거 */
    flex-direction: row; /* 네비게이션 버튼을 가로로 배치 */
    justify-content: center; /* 중앙 정렬 */
  }
}

.card-info h3 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.card-info p {
  color: gray; /* 설명 텍스트를 회색으로 */
}

.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 50px;
  padding: 8px;
  color: #333;
  width: 50px;
  height: 100px;
  z-index: 3;
}
@media (max-width: 768px) {
  .nav-btn {
    font-size: 30px; /* 화면 크기가 768px 이하일 때 버튼의 글꼴 크기를 줄임 */
    width: 40px; /* 버튼의 너비를 줄임 */
    height: 80px; /* 버튼의 높이를 줄임 */
  }
  .navigation {
    top: 40%; /* 화면 크기가 작을 때 navigation의 위치를 조정 */
  }
}

.navigation button {
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
}

.icon-wrapper:hover {
  color: #000100;
}

.navigation button:last-child {
  padding-right: 60px; /* 마지막 버튼(오른쪽 버튼)의 오른쪽 마진 조정 */
}