/* ChatWindow.css */

.chat-window {
  align-items: center;
  background: #ffffff;
  border-radius: 15px;
  height: 630px;
  margin: 20px auto;
  padding: 30px;
  width: 900px;
  border: 2px solid black;
}

.chat-window .chat-header {
  border-bottom: 2px solid #ccc;
}

.chat-window .chat-body {
  max-height: 500px;
  overflow-y: auto;
}

.chat-window .chat-body ul {
  list-style: none;
  padding: 10px 10px 10px 10px;
}

.chat-window .chat-body li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.chat-window .chat-body .right {
  text-align: right;
}

.chat-window .chat-body .left {
  text-align: left;
  background-color: #e0e0e0; /* "나"가 보내는 메시지의 배경색을 회색으로 지정합니다. */
}

.chat-window .chat-input {
  position: absolute;
  bottom: 0px;
  right: 40;
  width: 60%;
  margin-left: 20px;
}

.chat-window .chat-input input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 15px;
  height: 30px;
  margin-right: 20px;
  padding: 0 10px;
  text-align: center;
  width: calc(100% - 70px);
}

.chat-window .chat-input button {
  background: blue;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  padding: 0;
  vertical-align: middle;
  width: 50px;
}

.chat-window .chat-input button:hover {
  background: #0056b3;
}
