/* ChatList.css */
.chat-list-title {
  font-size: 2vw; /* 화면 너비의 2%로 설정 */
  font-weight: bold;
  margin-bottom: 2vw; /* 화면 너비의 2%로 설정 */
}

.chat-list {
  background-color: #f0f0f0;
  padding: 2vw; /* 화면 너비의 2%로 설정 */
  width: 25vw; /* 화면 너비의 25%로 설정 */
  height: 75vh; /* 화면 높이의 40%로 설정 */
  margin-left: 6vw; /* 화면 너비의 6%로 설정 */
  border-radius: 30px; /* 화면 너비의 4%로 설정 */
  margin-right: -1.6vw; /* 화면 너비의 -1.6%로 설정 */
  position: relative; /* 부모 요소 기준으로 자식 요소를 배치 */
  margin-top: 0; /* 기본값인 0으로 설정 */
}

.chat-list {
  list-style-type: none;
  padding: 0;
  border: 2px solid #ccc; /* 화면 너비의 0.2%로 설정 */
}

.chat-h2 {
  padding: 3vw; /* 화면 너비의 3%로 설정 */
  font-weight: bold;
  display: inline;
  margin-bottom: 1vw; /* 화면 너비의 1%로 설정 */
}

.chat-item {
  margin-top: 0;
  padding: 3%; /* 화면 너비의 2%로 설정 */
}

.chat-item:last-child {
  border-bottom: none;
}

.chat-content {
  display: flex;
  align-items: center;
}

.chat-sender {
  font-weight: bold;
}

.chat-message {
  margin-left: 5px; /* 화면 너비의 1%로 설정 */
  margin-top: 3px;
}

.chat-item:hover {
  background-color: #e0e0e0;
  border-radius: 4vw; /* 화면 너비의 4%로 설정 */
}

.person-icon {
  width: 2vw; /* 화면 너비의 2%로 설정 */
  height: 2vw; /* 화면 너비의 2%로 설정 */
  margin-right: 0.5vw; /* 화면 너비의 0.5%로 설정 */
}

.chat-message {
  height: 2vw; /* 화면 너비의 2%로 설정 */
  width: 15vw; /* 화면 너비의 15%로 설정 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2vw; /* 화면 너비의 2%로 설정 */
  padding: 2vw; /* 화면 너비의 2%로 설정 */
  box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.1); /* 화면 너비의 0.2%로 설정 */
  z-index: 9999; /* 모달 창을 다른 요소보다 위에 표시 */
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 1vw; /* 화면 너비의 1%로 설정 */
  right: 1vw; /* 화면 너비의 1%로 설정 */
  cursor: pointer;
  font-size: 1.5vw; /* 화면 너비의 1.5%로 설정 */
  color: gray;
}

.add-chat-input {
  width: calc(100% - 2vw); /* 화면 너비의 100%에서 2%를 뺀 값으로 설정 */
  padding: 1vw; /* 화면 너비의 1%로 설정 */
  margin-bottom: 2vw; /* 화면 너비의 2%로 설정 */
  border: 0.2vw solid #ccc; /* 화면 너비의 0.2%로 설정 */
  border-radius: 0.5vw; /* 화면 너비의 0.5%로 설정 */
}

.add-chat-button {
  width: 6vw; /* 화면 너비의 6%로 설정 */
  background-color: #4b89dc;
  color: white;
  border: none;
  border-radius: 1vw; /* 화면 너비의 1%로 설정 */
  cursor: pointer;
  margin-left: 6vw; /* 화면 너비의 6%로 설정 */
  margin-top: 2vw; /* 화면 너비의 2%로 설정 */
  margin-bottom: 1vw; /* 화면 너비의 1%로 설정 */
}

.add-chat-modal-button {
  width: 6vw; /* 화면 너비의 6%로 설정 */
  background-color: #4b89dc;
  color: white;
  border: none;
  border-radius: 1vw; /* 화면 너비의 1%로 설정 */
  cursor: pointer;
  margin-top: 2vw; /* 화면 너비의 2%로 설정 */
  margin-bottom: 1vw; /* 화면 너비의 1%로 설정 */
}

.add-chat-button:hover {
  background-color: #0056b3;
}

.add-chat-modal-button:hover {
  background-color: #0056b3;
}
