/* ChatList.css */

/* 추가된 부분: 메시지 문장 스타일 */
.chat-list-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chat-list {
  background-color: #f0f0f0;
  padding: 20px;
  width: 350px; /* 단위를 추가했어요 */
  height: calc(100vh - 40px);
  margin-left: 60px;
  border-radius: 30px;
  margin-right: -10px;
  position: inherit;
}

.chat-list {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
}
.chat-h2 {
  padding: 30px;
  font-weight: bold;
  display: inline;
  margin-bottom: 10px;
}

.chat-item {
  margin-top: 0px;
  padding: 15px;
}

.chat-item:last-child {
  border-bottom: none;
}

.chat-content {
  display: flex;
  align-items: center;
}

.chat-sender {
  font-weight: bold;
}

.chat-message {
  margin-left: 5px;
  margin-bottom: 3.5px;
}

.chat-item:hover {
  background-color: #e0e0e0;
  border-radius: 30px;
}
/* ChatWindow.css */
.chat-window {
  padding: 20px;
}

.chat-window h2 {
  margin-bottom: 10px;
  text-align: center;
}

.chat-window p {
  margin-bottom: 5px;
}

.person-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.chat-message {
  height: 20px;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px; /* 수정된 부분: close 버튼을 오른쪽 상단에 배치 */
  cursor: pointer;
  font-size: 20px;
  color: gray;
}

.add-chat-input {
  width: calc(100% - 20px); /* 수정된 부분: 버튼과 겹치지 않도록 너비 조정 */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-chat-button {
  width: 80px;
  background-color: #4b89dc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.add-chat-modal-button {
  width: 80px;
  background-color: #4b89dc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

.add-chat-button:hover {
  background-color: #0056b3;
}
.add-chat-modal-button:hover {
  background-color: #0056b3;
}
