/* ChatWindow.css */

.chat-window {
  align-items: center;
  background: #ffffff;
  border-radius: 30px; /* 반지름을 화면 너비의 4%로 설정 */
  height: 75vh; /* 화면 높이의 80%로 설정 */
  margin: 5vh auto; /* 상하 여백을 화면 높이의 5%로 설정 */
  padding: 3vw; /* 패딩을 화면 너비의 3%로 설정 */
  max-width: 80vw; /* 최대 너비를 화면 너비의 80%로 설정 */
  width: 60vw; /* 화면 너비의 60%로 설정 */
  border: 2px solid black; /* 테두리를 화면 너비의 0.5%로 설정 */
  position: relative; /* 부모 요소 기준으로 자식 요소를 배치 */
}

.chat-window .chat-header {
  border-bottom: 2px solid #ccc; /* 헤더의 아래 테두리 두께 설정 */
}

.chat-window .chat-body {
  max-height: 55vh; /* 채팅 내용의 최대 높이를 화면 높이의 60%로 설정 */
  overflow-y: auto;
  scroll-behavior: smooth; /* 스크롤 시 부드럽게 이동하도록 설정 */
}

.chat-window .chat-body ul {
  list-style: none;
  padding: 1vw; /* 리스트 요소의 안쪽 여백을 화면 너비의 1%로 설정 */
  margin: 0;
}

.chat-window .chat-body ul li {
  padding: 1vw; /* 채팅 메시지 요소의 안쪽 여백을 화면 너비의 1%로 설정 */
  margin-bottom: 0.5vh; /* 채팅 메시지 요소의 아래 여백을 화면 높이의 0.5%로 설정 */
  border-radius: 2vw; /* 채팅 메시지 요소의 테두리 반지름을 화면 너비의 2%로 설정 */
}

.chat-window .chat-body ul li.right {
  text-align: right;
  background-color: #d3e7f5;
}

.chat-window .chat-body ul li.left {
  text-align: left;
  background-color: #e6e6e6;
}

.chat-window .chat-input {
  position: absolute;
  bottom: 3vh; /* 하단 여백을 화면 높이의 3%로 설정 */
  left: 5vw; /* 좌측 여백을 화면 너비의 5%로 설정 */
  width: 90%; /* 입력창의 너비를 화면 너비의 90%로 설정 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 정렬 */
}

.chat-window .chat-input input[type="text"] {
  flex-grow: 1; /* 입력창이 남은 공간을 최대한 차지하도록 설정 */
  border: 0.2vw solid #ccc; /* 테두리 두께 설정 */
  border-radius: 2vw; /* 테두리 반지름 설정 */
  height: 4vh; /* 입력창의 높이를 화면 높이의 4%로 설정 */
  padding: 0 2vw; /* 입력창의 안쪽 여백을 화면 너비의 2%로 설정 */
}

.chat-window .chat-input button {
  background: blue;
  border: none;
  border-radius: 2vw; /* 버튼의 테두리 반지름 설정 */
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 4vh; /* 버튼의 높이를 화면 높이의 4%로 설정 */
  padding: 0 2vw; /* 버튼의 안쪽 여백을 화면 너비의 2%로 설정 */
  margin-left: 1vw; /* 좌측 여백을 화면 너비의 1%로 설정 */
}

.chat-window .chat-input button:hover {
  background: #0056b3;
}
