/* ChatList.css */

.chat-list-title {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 2vw;
}

.chat-list {
  background-color: #f0f0f0;
  padding: 2vw;
  width: 25vw;
  height: 75vh;
  margin-left: 6vw;
  border-radius: 30px;
  margin-right: -1.6vw;
  position: relative;
  margin-top: 0;
  list-style-type: none;
  padding: 0;
  border: 2px solid #ccc;
}

.chat-h2 {
  padding: 3vw;
  font-weight: bold;
  display: inline;
  margin-bottom: 1vw;
}

.chat-item {
  margin-top: 0;
  padding: 3%;
}

.chat-item:last-child {
  border-bottom: none;
}

.chat-content {
  display: flex;
  align-items: center;
}

.chat-sender {
  font-weight: bold;
  width: 8vh;
}

.chat-message {
  margin-left: 5px;
  margin-top: 4.5%;
  height: 2vw;
  width: 15vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-item:hover {
  background-color: #e0e0e0;
  border-radius: 4vw;
}

.person-icon {
  width: 2vw;
  height: 2vw;
  margin-right: 0.5vw;
}

.chat-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2vw;
  padding: 2vw;
  box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  cursor: pointer;
  font-size: 1.5vw;
  color: gray;
}

.add-chat-input {
  width: calc(100% - 17%);
  padding: 1vw;
  margin-top: 1vw;
  border: 0.2vw solid #ccc;
  border-radius: 0.5vw;
  margin-left: 2%;
}

.invite-link-input {
  width: calc(100% - 17%);
  padding: 1vw;
  margin-top: 1vw;
  border: 0.2vw solid #ccc;
  border-radius: 0.5vw;
  margin-left: 3%;
}

.add-chat-button {
  width: 6vw;
  height: 2.5vh;
  background-color: #4b89dc;
  color: white;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  margin-left: 8vw;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

.add-chat-modal-button {
  width: 6vw;
  height: 2.5vh;
  background-color: #4b89dc;
  color: white;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

.add-chat-button:hover {
  background-color: #0056b3;
}

.add-chat-modal-button:hover {
  background-color: #0056b3;
}
